
.news-card {
    border: 5px solid orange;
    background-color: yellow;
    cursor: pointer;

    &__header {
    }
  
    &__body {
    }

    &__body p {
      color:green;
    }
  
    &__img {
    }

}


  