
.news-card {
    cursor: pointer;

    &__header h2 {
      font-size: $x-large;
      padding: 1em 0;
      font-family: $font-modern;

    }
  
    &__body {
    }

    &__body p {
      padding: 1em 0;
      font-size: $small;
      font-family: $font-modern;
    }
  
    &__img {
      border: 1px solid black;
    }

}


  