/* layout/navigation */
.menu {
    border-bottom: 1px solid gray;
    padding: 1em;

    &__logo {
        font-size: 24px;
        font-weight: bold;
        text-transform: uppercase;
        display: inline-block;
    }

    &__nav {
        float: right;
    }
}

.mini-menu {

    &__search {
        border-radius: 30px;
        float:right;
        margin-left: 1em;
    }

    & li, & li a {
        text-decoration: none;
        text-transform: uppercase;
        float: left;
        color: inherit;
        margin-left:1em;
    }

    & input {
        border-radius: 500px;
    }
    
}

.atention {
    background-color: yellow;
}
