.g-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 1em;
/*   background-color: aqua; */
  border: 5px solid blue;
}

.g-nav {
  grid-column: 1 / 3;
  background-color: violet;
  border: 5px solid purple;
}

.g-section-news {
  grid-column: 1fr;
  background-color: violet;
  border: 5px solid purple;
}

.g-aside {
  grid-column: 1fr;
  background-color: violet;
  border: 5px solid purple;
}

.g-section-newsletter {
  grid-column: 1 / 3;
  background-color: violet;
  border: 5px solid purple;
}

.g-footer {
  grid-column: 1 / 3;
  background-color: violet;
  border: 5px solid purple;
}

.g-section-news {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
gap: 1em;
background-color: lightgreen;
border: 5px solid green;
}


