/* pages/home */

.g-section-news {
  @include respond-to('x-small') {
    grid-template-columns: 1fr;
  }

  @include respond-to('small') {
      grid-template-columns: 1fr;
    }

  @include respond-to('medium') {
        grid-template-columns: 1fr 1fr;
        }
}

.g-aside {
  @include respond-to('x-small') {
    display: none;
  }
  @include respond-to('small') {
    display: none;
    }
}

.g-container {
  @include respond-to('x-small') {
    grid-template-columns: 3fr;
  }
  @include respond-to('small') {
    grid-template-columns: 3fr;
    }
}

.g-nav, .g-section-newsletter, .g-footer {
  @include respond-to('x-small') {
    grid-column: 1 / 2;
  }
  @include respond-to('small') {
    grid-column: 1 / 2;
    }
}

.mini-menu  {
  @include respond-to('x-small') {
    display:none;
  }

  @include respond-to('small') {
      display:none;
    }

  @include respond-to('medium') {
        display:none;
        }
}

.nav__collapsable-menu {
  @include respond-to('xx-large') {
    display:none;
  }

  @include respond-to('x-large') {
      display:none;
    }

  @include respond-to('large') {
        display:none;
        }
}


